<table class="table table-striped">
	<thead>
		<tr>
			<td>CI</td><td>NOMBRE</td><td></td>
		</tr>
	</thead>
	<tbody>
		<% @datos_persona.each do |dp| %>
		<tr>
			<td><%= dp.ci %></td>
			<td><%= dp.ap_paterno %><%= dp.ap_materno %><%= dp.nombre %></td>
			<td><button onclick="alert('Funciona')" type="button" class="btn btn-success"><i class="mdi mdi-check"></i></button></td>
		</tr>
		<% end %>
	</tbody>
</table>
