<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Blue 5px solid;
  border-radius: 20px;
}
</style>
<h1>Holas desde impresion</h1>

<!--1ra fila para poner fecha y correlativo del certificado-->
<div class="row">
	<div class="col-md-8">
		<p>
			<div class="Certificados de procesos print">
				
					<blockquote>
						<time datetime="fechaISO">La Paz,05 de marzo de 2018</time>
						<h3><b>COM.UNIV.PROC.CERTF:0001/2018</b></h3>
					</blockquote>
				</p>
			</div>
		</div>
</div>
<!--1ra fila fin-->


<div class="row">
	<div class="col-md-12">
		<div class="pull-left text-justify">
			
			<p>
				<hr>
				<h4 class="font-Arial">La Comision Universitaraia de Procesos del Honborable Consejo Universitario de la Universidad Mayor de San Andres, a solicitud escrita del Interesado.</h4> </p> </hr>
				<br>
				<h2 class="font-bold"> Certifica:</h2> </br>

				<h4 class="font-Arial"> Que, revisada la documentacion en la Comision de Procesos, se evidencia que:</h4>

				<!--segunda fila para escoger el nombre de los certificados-->
				
				<div class="row">
					<div class="cold-md-12">
						<div class="pull-right text-center">
							<hr>
							<h3 class="font-bold"> 
								<% @datos_denuncia.each do |dd| %> 
								<%=	 dd.nombre %>
								<% end %>
							</h3>
							<h3 class="font-bold">CI.</h3>
						</p>
					</hr>
					<!--fin de segunda fila-->


					<!--tercera fila para escoger el fallo de los certificados-->
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right text-justify">
								<p>
									<hr>
									<h4 class="font-Arial">A la fecha No/Si tiene fallo sancionatorio en su contra, es cuanto certificamos para los fines consiguientes.</h4> </p> </hr>
									<!--tercera fila fin-->

									
									<!--para imprimir cuarta fila-->
									<div class="CERTIFICADO DE PROCEOS print">
										<div class="clearfix"></div>
										<hr>
										<div class="text-right">
											<button class="btn btn-danger" type="submit"> Imprimir </button>
											<button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> imprimir</span> </button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>            

                                            