<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">NUEVA DENUNCIA</h4>
      </div>
      <%= render 'form', denuncium: @denuncium %>
      <%= link_to 'Back', denuncia_path %>
  </div>
  </div>
</div>



