<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>
<h2>Reporte en Fechas</h2>

<p><div class="Certificados de procesos print"></p></div>
<!--3ra fila -->
  <div class="row">
    <div class="cold-md-12">
      <div style="text-align:center;">
        <table border="1"style="margin: 0 auto;">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>CI</td>
              <td>N reg</td>
              <td>Certificado</td>
            </tr>
        </thead>
        <tbody>
          <% @listado_grupales.each do |g| %>
            <tr>
              <td><%= g.persona.nombre %></td>
              <td><%= g.persona.ci %></td>
              <td><%= g.persona.no_reg %></td>
              <td><%= g.persona.correlt_certf %></td>
            </tr>
            <% end %>

        </tbody>
        
        </table>
      </div>
    </div>
  </div>
<!--fin de 3ra fila-->