<nav class="sidebar-nav">
  <ul id="sidebarnav">

      <li>
          <a class="has-arrow" href="#" aria-expanded="false">
              <i class="mdi mdi-gauge"></i>
              <span class="hide-menu">ABOGADOS
                  <BR/>Sentecia/fallo
              </span>
          </a>
          <ul aria-expanded="false" class="collapse">

              <li><%= link_to "Abogados_Fallo", controller: "personas", action: "fallo" %></li>
          </ul>
      </li>

      <!--denuncias-->
      <li>
          <a class="has-arrow" href="#" aria-expanded="false">
              <i class="mdi mdi-gauge"></i>
              <span class="hide-menu">Denuncias
              </span>
          </a>
          <ul aria-expanded="false" class="collapse">
              <li><%= link_to "Nuevo_persona", controller: "personas", action: "new" %></li>
              <li><%= link_to "denuncia_busca", controller: "denuncia", action: "new" %></li>

          </ul>
      </li>
      <!--fin de denuncias-->

  </ul>
</nav>
<!--fin de cargos-->