<h2><b>Abogado/Fallo</b></h2>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_tag('/persona/guarda_fallo')%>
        <div class="form-body">
          <div class="row p-t-20">
            
            <!-- 1ra columna buscar-->
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> 
                <h3><b><p>BUSCAR CI: </p> </b></h3></label>
                <h3><b><p><%=text_field(:persona, :ci)%></p></b></h3>
              </div>
            </div>
          </div>
        </div>
            <!-- fin 1ra columna -->

            <!-- 2da columna-->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="card card-outline-info">
                  <div class="card-block">
                    <label class="control-label"> 
                      <h3><b><p> FALLO: </p> </b></h3></label>
                        <label class="control-label"><p> <b><h3> DATO A SELECCIONAR</h3></b></p></label>
                        <div id="carga_nombre">
                        </div>
                      </div>
                  </div>
                </div>  
              </div>
            </div>         
            <!-- fin 2da columna -->

           <!-- 3ra columna -->
            <div class="col-md-2">
              <div class="form-group">
                <div id="fallo_persona"></div>
                <label class="control-label">Fallo</label>
                <%= select_tag "persona[fallo]", 
                options_for_select([['SI'], ['NO']]), 
                {
                  :class => 'form-control', 
                  required: 'required',
                } 
                %>
              </div>
            </div>
          <!-- fin de 3ra columna>

           <!-4ta columna de obs-->
            <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                    <h3><b>Observaciones</b></h3></label>
                  <h3><b><%=text_field(:persona, :observacion)%></b></h3>
                </div>
              </div>

          <!--fin de 4ta columna de obs>



          <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>

        </div>      
      </div>
    </div>
  </div>  
</div>
<% # end %>
<script>
  $("#persona_ci").keyup(function () {
    var campo_texto = $("#persona_ci").val();
    var cantidad_letras = campo_texto.length;
    // console.log('var: '+campo_texto);
    if(cantidad_letras > 3){        
      Rails.ajax({
        type: 'GET',
        url: '/persona/bs_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#fallo_persona").load('/persona/bs_ci_ajax/'+campo_texto);
        }
      });
    }
  });
</script>