<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Lista de Personas</h4>

        <div class="table-responsive m-t-40">
            <table id="gente-datatable" class="display nowrap table table-hover table-striped table-bordered dataTable" data-source="<%= personas_path(format: :json) %>">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CI</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Oservacion</th>
                        <th>Fallo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="crt-demo_listado">

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<script>
$(document).ready(function() {
  $('#gente-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#users-datatable').data('source'),
    "pagingType": "full_numbers",
    "columns": [
      {"data": "id"},
      {"data": "ci"},
      {"data": "nombre"},
      {"data": "carrera"},
      {"data": "observacion"},
      {"data": "fallo"},
      {"data": "acciones"}
    ],
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    }
    // pagingType is optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});

function edita_persona(id_persona){
  window.location = "/personas/"+id_persona+"/edit";
}

function elimina_persona_js(id_persona){
  // window.location = "/personas/"+id_persona+"/edit";\
  alert('Entro');
}
</script>

<%= link_to 'New Persona', new_persona_path %>
